.educationEntry {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid white;
    margin-bottom: 1rem;
    border-bottom: 1px solid grey;
    padding-bottom: 1rem;
}

@media (max-width: 600px) {
    .educationEntry {
        grid-template-columns: 1fr;
        padding: 0;
        padding-bottom: 1rem;
    }
}