.header {
    border-bottom: 1px solid black;
    margin-bottom: 1rem;

    & nav {
        min-width: 13rem;
        display: grid;
        grid-template-columns: max-content max-content;
        gap: 1rem;
        justify-content: center;

        & button {
            min-width: 6rem;
        }
    }
}

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: min(90ch, 100% - 4rem);
    margin-inline: auto;
}